*{
 margin: 0;
 padding: 0;
 scroll-behavior: smooth;
}
.carousel-inner img{
 width: 100%;
 height: 89vh;
}
#logo{
 font-size: 30px;
 letter-spacing: 1px;
}
b{
 color: red;
}
.dropdown-menu a{
 font-size: 20px;
}
.navbar-toggler:focus{
 outline: none;
}
li{
 font-weight: 600;
 font-size: 20px;
 margin-right: 15px;
}
 #careers{
  width: 100%;
 background-color: rgba(0, 0, 0, 0.685);
  background-size: cover;
  height: 350px;
  text-align: center;
  
 }
 #careers{
  color: white;
 position: relative;
 width: 100%;
 height: 350px;

 background-size: cover;
 justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #careers h1{
  padding-top: 30px;
  letter-spacing: 2px;
 text-decoration: underline;
 
 }

#enquiry{
 width: 100%;
 height: auto;
 padding: 60px 400px;
 border-top: 1px solid grey;
 font-family: Arial;
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
 background-color: rgba(0, 0, 0, 0.836);
}
#enquiry h2{
 font-weight: 400;
 text-transform: capitalize;
 font-size: 20px;
margin-bottom: 30px;
 letter-spacing: 2px;
}
.resize{
 resize:none;
 width: 100%;
 height: 100px;
 color: white;
 background-color: transparent;
 border: none;
 border-bottom: 2px solid grey;
}
.centre{
 


}
textarea:focus{
 outline: none;
 color: white;
}
input{
 background-color: transparent;
 border: none;
 font-size: 100px;
 color: white;
 font-size: large;
 width: 100%;
 border-bottom: 2px solid grey;
}
input:focus{
outline: none;
 
outline-color: green;
}

.margin{
 margin-bottom: 20px;
 width: 100%;
}
.sub{
 width: 30%;
 margin: auto;
 color: white;
 border: 2px solid white;
 margin-top: 30px;
 letter-spacing: 1px;
 height: 50px;
 font-size: 25px;
 text-align: center;
 text-transform: capitalize;
}

#enquiry h1{
 text-align: center;
 margin-bottom: 60px;
 text-decoration: underline;
 letter-spacing: 2px;
 color: red;
}
 @keyframes blink{
  from{ opacity: 0;}
  to{ opacity: 1;}
 }
 .content{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 60%;
  padding: 20px;
  transform: translate(-50%,-50%);
 }
 #careers h3{
 color: red;
 animation: blink 1.2s  infinite ;
}
#careers p{
 font-size: 20px;
 letter-spacing: 2px;
 font-family: arial;
 padding-top: 10px;
 text-transform: capitalize;
}
#about{
 background-color: rgba(0, 0, 0, 0.671);
 height: 350px;
 color: white;
 text-align: center;
 padding: 20px;
 font-family: Arial;
}
#about h1{
 padding-bottom: 70px;
 padding-top: 30px;
 text-decoration: underline;
 letter-spacing: 2px;
}
#about p{
 text-transform: capitalize;
 font-size: 20px;
 letter-spacing: 2px;
 
}
#contact{
 background-color: rgba(0, 0, 0, 0.836);
 width: 100%;
 color: white;
 height: fit-content;
 text-align: center;
}
.marg{
 margin: 60px;
}
.main{
 display: flex;
 align-items: center;
 justify-content: center;
}
.main img{
 width: 200px;
 height: 200px;
}

#contact h1{
 padding-bottom: 10px;
 padding-top: 30px;
 text-decoration: underline;
 letter-spacing: 2px;
}
.num{
 font-size: 30px;
 padding-bottom: 20px;
}
.num i{
 margin-right: 30px;
 padding-top: 40px;
}
#contact i{
 font-size: 40px;
}
.cont-icon{
 display: flex;
 
 align-items: center;
 font-size: 35px;
 padding-bottom: 10px;
 justify-content: center;
}

.sociale-menu a{
 margin: 0.6rem;
 height: 30px;
 width: 30px;
 border-radius: 7px;
 text-align: center;
 line-height: 30px;

 font-size: 20px;
color: white;
text-decoration: none;
 background-color: whitesmoke;
 background-color:rgb(45, 45, 204);
 
}
.sociale-menu{
 margin:  50px;
}
#color1{
 background-image: linear-gradient(blue, red, yellow);
}
#color2{
 background-color:rgb(13, 121, 163);
}
#color3{
 background-color: rgb(11, 165, 18);
}
#color4{
 background-color: rgb(13, 121, 163);
}

.footer{
 width: 100%;
 background-color:rgba(14, 5, 5, 0.836);
 color: white;
 text-align: center;
 padding: 10px 0;
 border-top: 1px solid grey;
 text-transform: capitalize;
}
.footer  h2{
 color: red;
 font-size: 25px;
 letter-spacing: 2px;
}

@media (max-width:600px) {
 
.carousel-inner img{
 width: 100%;
 height: 40vh;
}
 
.footer h2{
 letter-spacing: normal;
 font-size: 18px;
 letter-spacing: 1px;
}
.main{
 display: flex;
 flex-direction: column;
}
ul li{
 font-size: 20px;
}
.num i{
 font-size:40px;
}
.num{
 font-size: 22px;
 font-weight: bold;
}

.marg{
 margin: 5px;
 margin-top: 10px;
}
.contact h1{
 margin-bottom: 30px;
}
 
input{
 width: 100%;
 
 
}
#enquiry{
padding: 40px;
width: 100%;
padding-bottom: 70px
}

.sub{
 width: 50%;
 border-radius: 15px;
 height: 60px;
}
}
@media  (max-width:1024px){
.carousel-inner img{
 width: 100%;
 height: 40vh;
}
}
